@use '../utils/variables'as *;

@keyframes svgColor {
    0% {
        fill: $tertiary-color;
    }

    100% {
        fill: $primary-color;
    }
}

@keyframes socialHeader {
    0% {
        fill: $primary-color;
    }

    100% {
        fill: currentColor;
    }
}

//Left Right animation
@keyframes lrAnimation {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

//Bottom top animation
@keyframes btAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}