.py-lg {
    padding: 8rem 0;
}

.py-md {
    padding: 6rem 0;
}

.mt-md {
    margin-top: 4rem;
}

.mt-lg {
    margin-top: 8rem;
}

.mt-sm {
    margin-top: 2.5rem;
}

.text-center {
    text-align: center;
}

.flow>*+* {
    margin-top: 2.5rem;
}