@use '../utils/variables'as*;
@use '../utils/mixins'as*;

.py-lg {
    padding: 10rem 0;
}

.py-md {
    padding: 6rem 0;
}

.mt-md {
    margin-top: 4rem;
}

.mt-lg {
    margin-top: 8rem;
}

.mt-sm {
    margin-top: 2.5rem;
}

.text-center {
    text-align: center;
}

.flow>*+* {
    margin-top: 2.5rem;
}


.title-box {
    @include sm {
        padding: 8rem 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.icon {
    width: 30px;
    height: 30px;
}

.bb-animate {
    background-image: linear-gradient(transparent calc(100% - 2px), currentColor 2px);
    background-repeat: no-repeat;
    width: max-content;
    transition: background-size .2s;
    background-size: 0% 100%;

    &:hover {
        background-size: 100% 100%;
    }
}

.lr-animation {
    animation: lrAnimation 1.2s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

.lr-animation-paragraph {
    animation: lrAnimation 1.2s cubic-bezier(0.75, 0.25, 0.10, 0.95) 0.5s;
    animation-fill-mode: backwards; //La animación aplicará los valores definidos en el primer keyframe tan pronto como se aplique al objeto
}

.bt-animation {
    animation: btAnimation .5s ease-out 1.5s;
    animation-fill-mode: backwards;
}

.bt-animation2 {
    animation: btAnimation .5s ease-out .5s;
    animation-fill-mode: backwards;
}

.sticky-nav {
    background-color: var( --primary-color);
    top: -4px;
    padding: 1rem 0;
    box-shadow: $box-shadow;

    @include sm {
        padding: 0;
    }
}

.space {
    justify-content: space-between;
}

.active-nav {
    @include sm {
        height: 20rem;
        padding-bottom: 1.5rem;
        display: block;
    }
}

.border-bottom {
    @include sm {
        border-bottom: 2px solid var(--tertiary-color);
    }
}



.offset-0 {
    @include sm {

        margin-left: 0;
    }
}

.visible {
    opacity: 1;
    visibility: visible;
}

.animation-popup {
    transform: scale(1);
    opacity: 1;
    border-radius: 6px;
}