footer.footer.py-md 
    .container 
        .row.footer-info
            .col-6.col-md-12
                .footer-info__call 
                    .footer-info__img-box
                        img.footer-info__img(src="img/Almudena-Ruiz.jpg", alt="Call center")
                        span.footer-info__call-ico
                            svg.icon
                                use(xlink:href='img/sprite.svg#phone-fill')
                    p.paragraph Please fell free to contact our friendly reception staff
                        | with any medical enquire, or call <span>900 111 003</span>
            .col-6.col-md-12
                .footer-info__social
                    .footer-info__bg-ico
                        svg.icon
                            use(xlink:href='img/sprite.svg#facebook-fill')
                    .footer-info__bg-ico
                        svg.icon
                            use(xlink:href='img/sprite.svg#instagram-line')
                    .footer-info__bg-ico
                        svg.icon
                            use(xlink:href='img/sprite.svg#twitter-fill')
                    a.btn.btn-secondary(href="#") 
                        svg.icon
                            use(xlink:href='img/sprite.svg#arrow-right-circle-fill')
                        | Make Appointment
        .row.footer-item
            .col-md-3.col-sm-6
                ul.footer-info__list 
                    li.footer-info__item 
                        a.footer-info__link(href="#") About us
                        p.paragraph Lorem ipsum dolor sit amet, consectetue radpiscing 
            .col-md-3.col-sm-6
                ul.footer-info__list 
                    li.footer-info__item 
                        a.footer-info__link(href="#") Departments
                        ul.footer-info__links 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Periondoncia 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Ortodoncia 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Implantología 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Estética Dental 
                            li.footer-info__item-link
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Odontología Estética 
            .col-md-3.col-sm-6
                ul.footer-info__list 
                    li.footer-info__item 
                        a.footer-info__link(href="#") Links
                        ul.footer-info__links 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Home 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") About 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Services 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Doctor  
            .col-md-3.col-sm-6
                ul.footer-info__list 
                    li.footer-info__item 
                        a.footer-info__link(href="#") Help
                        ul.footer-info__links 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Help & FAQ 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Contact Us 
                            li.footer-info__item-link
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Careers 
                            li.footer-info__item-link 
                                svg.icon
                                    use(xlink:href='img/sprite.svg#arrow-right-fill')
                                a(href="#") Site map
            .col-md-12.col-4
                ul.footer-info__list 
                    li.footer-info__item 
                        a.footer-info__link(href="#") Newsletter
                        form(action="").form
                            input(type="email" require placeholder="Make Appointment")
                            .form__check
                                input(type="radio" name="size" id="large").form__radio-input
                                label(for="large").form__label
                                    span.form__radio 
                                    | I accept the privacy and terms.



