header.header 
    .container 
        .row 
            .col-5  
                .title-box
                    h1.title-primary  Vibrant Smile for Healthy Lifestyle!
                    p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing 
                        | elit, sed diam nonummy nibh euis
                    button.btn.btn-primary Free consultation
            .col-7.no-gutter 
                .header__box-img 
                    img(src="img/portada-medica.png", alt="Doctora").header__img