header.header 
    //- include navigation.pug
    .container 
        .row 
            .col-6.col-sm-12 
                .title-box.flow
                    h1.title-primary.lr-animation  Vibrant Smile for Healthy Lifestyle!
                    p.paragraph.lr-animation-paragraph Lorem ipsum dolor sit amet, consectetueradpiscing 
                        | elit, sed diam nonummy nibh euis
                    button.btn.btn-primary.bt-animation Free consultation
            .col-6.no-gutter.header__content-img 
                picture.header__box-img 
                    source.header__img(srcset="img/portada-medica@2x.png" media="(min-width: 992px)")
                    img.header__img(src="img/portada-medica.png", alt="Doctora")