.info 
    .container 
        .row 
            .col-6
                .info__box-phone
                    svg.icon
                        use(xlink:href='img/sprite.svg#phone-fill')
                    span.info__phone 900 111 003 
            .col-6 
                .info__icon-box
                    svg.icon
                        use(xlink:href='img/sprite.svg#facebook-fill')
                    svg.icon
                        use(xlink:href='img/sprite.svg#instagram-line')
                    svg.icon
                        use(xlink:href='img/sprite.svg#twitter-fill')