.navigation
    .container
        .row.navigation__box
            .col-2.navigation__box-logo.col-sm-12
                .logo
                    a(href="#") 
                        img(src="img/logo.svg", alt="Logo")
                .menu_icon
                    span.one
                    span.two
                    span.three
            .col-6.col-sm-12.navigation__padding
                nav.navigation__nav 
                    ul.navigation__list 
                        li.navigation__item.bb-animate 
                            a(href="#").navigation__link home 
                        li.navigation__item.bb-animate 
                            a(href="#").navigation__link about
                        li.navigation__item.bb-animate 
                            a(href="#").navigation__link services
                        li.navigation__item.bb-animate 
                            a(href="#").navigation__link doctors
                    