.navigation
    .container
        .row
            .col-2.navigation__box-logo
                .logo
                    a(href="#") 
                        img(src="img/logo.svg", alt="Logo") 
            .col-6 
                nav.navigation__nav 
                    ul.navigation__list 
                        li.navigation__item.bb-animate 
                            a(href="#").navigation__link home 
                        li.navigation__item.bb-animate 
                            a(href="#").navigation__link about
                        li.navigation__item.bb-animate 
                            a(href="#").navigation__link services
                        li.navigation__item.bb-animate 
                            a(href="#").navigation__link doctors
                    