.popup 
    .container 
        .row 
            .col-8 
                .popup__content 
                    .popup__img 
                        img(src="img/Cristina-Estrada.jpg", alt="Médico")
                    .popup__info
                        span.popup__close &#11198;
                        h3.popup__name Dra. Cristina Estrada 
                        span.popup__profession ESPECIALISTA EN ORTODONCIA
                        p.paragraph.mt-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem mollitia enim ea natus quaerat laboriosam quisquam itaque impedit ab commodi laboriosam quisquam itaque impedit ab commodi.