section.services
    .container 
        .row 
            .col-5
                .service-text
                    h2.title-primary.title-service Our Services 
                    p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elit, sed diam nonummy nibh euis
                .service-img 
                    img(src="img/cepillo-dental.png", alt="Cepillo de dientes")
            .col-7
                ul.services-grid
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#brackets')
                        h3.services-grid__description Ortodoncia
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#cavity')
                        h3.services-grid__description Caries
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#crown')
                        h3.services-grid__description Implantología
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#dental-care')
                        h3.services-grid__description Endodoncia
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#dental-veneer')
                        h3.services-grid__description Estética dental
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#tooth')
                        h3.services-grid__description Limpieza dental
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#halitosis')
                        h3.services-grid__description Halitosis
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#denture')
                        h3.services-grid__description Prótesis dentales
                    li.services-grid__item 
                        svg.services-grid__icon
                            use(xlink:href='img/sprite.svg#dental-veneer-1')
                        h3.services-grid__description Ortodoncia

                button.btn.btn-primary.mt-lg More