section.team 
    .container 
        .row 
            .col-sm-12.offset-0.col-md-10.col-md-offset-1.col-8.col-offset-2
                .team-box-title.text-center.observer 
                    h2.title-primary Our dental medical team
                    p.paragraph.mt-sm Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elit, sed diam nonummy nibh diam nonummy nibh consectetueradpiscing elit
            .col-12
                .team-grid                    
                    ul.team-grid__list 
                        li.team-grid__item 
                            img(src="img/Paula-skinner.jpg", alt="Doctora")
                            h3.team-grid__name Dra. Paula skinner
                            span.team-grid__profession ESPECIALISTA EN ORTODONCIA
                            a.btn.btn-primary.team-grid__buttom Read more
                        li.team-grid__item 
                            img(src="img/Clara-DIaz.jpg", alt="Doctora")
                            h3.team-grid__name Dra. Clara Díaz
                            span.team-grid__profession ESPECIALISTA EN ORTODONCIA
                            a.btn.btn-primary.team-grid__buttom Read more
                        li.team-grid__item 
                            img(src="img/Tom-Smit.jpg", alt="Doctora")
                            h3.team-grid__name Dr. Tom Smit
                            span.team-grid__profession ESPECIALISTA EN ORTODONCIA
                            a.btn.btn-primary.team-grid__buttom Read more
                        li.team-grid__item 
                            img(src="img/Nagore-Ambrosio.jpg", alt="Doctora")
                            h3.team-grid__name Dra. Nagore Ambrosio
                            span.team-grid__profession ESPECIALISTA EN ORTODONCIA
                            a.btn.btn-primary.team-grid__buttom Read more
                        li.team-grid__item 
                            img(src="img/Cesar-de-Gregorio.jpg", alt="Doctora")
                            h3.team-grid__name Dr. César de Gregorio
                            span.team-grid__profession ESPECIALISTA EN ORTODONCIA
                            a.btn.btn-primary.team-grid__buttom Read more
                        li.team-grid__item 
                            img(src="img/Cristina-Estrada.jpg", alt="Doctora")
                            h3.team-grid__name Dra. Cristina Estrada
                            span.team-grid__profession ESPECIALISTA EN ORTODONCIA
                            a.btn.btn-primary.team-grid__buttom Read more
                        li.team-grid__item 
                            img(src="img/Carlos-Sanz.jpg", alt="Doctora")
                            h3.team-grid__name Dr. Carlos Sanz
                            span.team-grid__profession ESPECIALISTA EN ORTODONCIA
                            a.btn.btn-primary.team-grid__buttom Read more
                        li.team-grid__item 
                            img(src="img/Almudena-Ruiz.jpg", alt="Doctora")
                            h3.team-grid__name Dra. Almudena Ruiz
                            span.team-grid__profession ESPECIALISTA EN ORTODONCIA
                            a.btn.btn-primary.team-grid__buttom Read more
