section.testimonial.py-lg 
    .container 
        .row 
            .col-sm-12.offset-0.col-md-10.col-md-offset-1.col-8.col-offset-2
                .testimonial-box-title.text-center.observer 
                    h2.title-primary Our Testimonial
                    p.paragraph.mt-sm Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elit, sed diam nonummy nibh diam nonummy nibh consectetueradpiscing elit
            .col-12 
                // Swiper
                .testimonial-box
                    .swiper-container.mySwiper
                        .swiper-wrapper
                            .swiper-slide 
                                p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elit
                                .testimonial-box__avatar 
                                    img(src="img/pedro-mora.jpg", alt="")
                                    .testimonial-box__text-avatar 
                                        h3.testimonial-box__name Pedro Mora 
                                        span.testimonial-box__via Vía twitter
                            .swiper-slide 
                                p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam 
                                .testimonial-box__avatar 
                                    img(src="img/carmen-castillo.jpg", alt="")
                                    .testimonial-box__text-avatar 
                                        h3.testimonial-box__name Carmen Castillo 
                                        span.testimonial-box__via Vía twitter
                            .swiper-slide 
                                p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy elit sed diam nonummy
                                .testimonial-box__avatar 
                                    img(src="img/sandra-mesa.jpg", alt="")
                                    .testimonial-box__text-avatar 
                                        h3.testimonial-box__name Sandra Mesa
                                        span.testimonial-box__via Vía twitter
                            .swiper-slide 
                                p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elit
                                .testimonial-box__avatar 
                                    img(src="img/pedro-mora.jpg", alt="")
                                    .testimonial-box__text-avatar 
                                        h3.testimonial-box__name Pedro Mora 
                                        span.testimonial-box__via Vía twitter
                            .swiper-slide 
                                p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elitsed diam nonummy nibh euis
                                .testimonial-box__avatar 
                                    img(src="img/pedro-mora.jpg", alt="")
                                    .testimonial-box__text-avatar 
                                        h3.testimonial-box__name Pedro Mora 
                                        span.testimonial-box__via Vía twitter
                            .swiper-slide 
                                p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elit
                                .testimonial-box__avatar 
                                    img(src="img/pedro-mora.jpg", alt="")
                                    .testimonial-box__text-avatar 
                                        h3.testimonial-box__name Pedro Mora 
                                        span.testimonial-box__via Vía twitter
                            .swiper-slide 
                                p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elit
                                .testimonial-box__avatar 
                                    img(src="img/pedro-mora.jpg", alt="")
                                    .testimonial-box__text-avatar 
                                        h3.testimonial-box__name Pedro Mora 
                                        span.testimonial-box__via Vía twitter
                            .swiper-slide 
                                p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing elit, sed diam nonummy nibh euis elit
                                .testimonial-box__avatar 
                                    img(src="img/pedro-mora.jpg", alt="")
                                    .testimonial-box__text-avatar 
                                        h3.testimonial-box__name Pedro Mora 
                                        span.testimonial-box__via Vía twitter
                    .swiper-pagination
                    .swiper-button-next
                    .swiper-button-prev

