
section.welcome.py-lg
    .container 
        .row
            .col-6
                .box-text-welcome.flow
                    .title-primary  Welcome to Dentis
                    p.paragraph Lorem ipsum dolor sit amet, consectetueradpiscing 
                        | elit, sed diam nonummy nibh euis
                    p.paragraph  Lorem ipsum dolor sit amet, consectetueradpiscing elit, 
                        |    sed diam nonummy nibh euis elit, sed diam nonummy 
                        |    nibh euis elit, sed diam nonummy nibh euis elit, sed
                        |    diam nonummy nibh euis
                    a.btn.btn-link(href="#") See more &rarr;
            .col-6 
                .welcome-img 
                    img.welcome-img__radius(src="img/welcome-dentis.png", alt="Welcome image")