@use '../utils/variables'as *;

.welcome {
    background-color: $white-color;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

}

.title-box>*+*,
.box-text-welcome>*+* {
    margin-top: 2.5rem;
}

.services {
    background-color: $secondary-color;
    padding-top: 8rem;

    & .btn-primary {
        padding: 1.2rem 4rem;
    }
}

.service-img {
    position: relative;
    bottom: -10rem;
}

.service-img {
    img {
        display: block;
        width: 100%;
        height: auto;
    }

}

.team-box-title {
    padding: 12rem 0 4rem;
}