@use '../utils/mixins'as *;
@use '../utils/variables'as *;

.welcome {
    background-color: $white-color;
    background: url(../img/tooth-bg.svg) 130% 100%/60% no-repeat;
    background-repeat: no-repeat;

    @include sm {
        background: url(../img/tooth-bg.svg) 130% 100%/100% no-repeat;
    }
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

}

.services {
    background-color: var(--secondary-color);
    padding-top: 8rem;

    & .btn-primary {
        padding: 1.2rem 4rem;
    }
}

.service-img {
    position: relative;
    bottom: -10rem;

    @include sm {
        width: 60%;
        margin: 0 auto;
        padding-top: 8rem;
    }
}

.service-img {

    @include md {
        bottom: 0;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

}

.services-img-box {

    @include md {
        display: flex;
    }

    @include sm {
        flex-wrap: wrap;
    }
}

.team {
    margin-bottom: 8rem;
}

.team-box-title {
    padding: 8rem 0 2.5rem;
}

.testimonial {
    background-color: var(--secondary-color);
}

.testimonial-box {
    margin-top: 1rem;
    position: relative;
}

.btn.buttom-grid {
    @include md {

        margin-bottom: calc(6rem - 1.5rem);
        margin-top: 6rem;
    }

    @include respond(tab) {
        margin-bottom: 4rem;
    }

    @include respond(phone) {
        margin: 6rem auto;
        display: block;
        width: 100%;
        padding: 2rem 0;
    }
}