extends template/template

block info  
    include layout/info
block navigation  
    include layout/navigation
block welcome 
    include layout/welcome 
block services 
    include layout/services
block team 
    include layout/team
block testimonial 
    include layout/testimonial
block footer
    include layout/footer

