extends template/template

block info  
    include layout/info
block navigation  
    include layout/navigation
block welcome 
    include layout/welcome 
block services 
    include layout/services
block footer
    include layout/footer

