extends template/template

block info  
    include layout/info
block navigation  
    include layout/navigation
//- block header 
//-     include layout/header 
block welcome 
    include layout/welcome 
block footer
    include layout/footer

