@use '../utils/variables'as *;
@use '../utils/mixins'as*;

.services-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    place-items: center;
    gap: 2rem;

    @include md {
        grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    }

    &__item {
        padding: 4rem;
        background-color: $white-color;
        border-radius: 6px;
        width: 100%;
        text-align: center;
        height: 18rem;
        transition: .2s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            box-shadow: $box-shadow;
            transform: translateY(-3px);
        }


    }

    &__item:hover &__icon {
        fill: $primary-color;
        animation: svgColor .5s alternate;
        // animation: name duration timing-function delay iteration-count direction fill-mode;
        // animation-direction: alternate;
    }

    &__icon {
        width: 9rem;
        height: 9rem;
        fill: $tertiary-color;

    }

    & li:not(:first-child) &__icon {
        padding: 1rem;
    }

    &__description {
        font-weight: 300;
        font-size: 1.4rem;
    }


}