.welcome-img {
    position: relative;

    &::after {
        content: "";
        background-image: url(../img/blob.svg);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 0;
        left: -1rem;
        right: 0;
        top: 10rem;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &__radius {
        position: relative;
        z-index: 10;
    }
}