@use '../utils/mixins'as *;
@use '../utils/variables'as *;

.welcome__box-img {
    @include sm {
        margin: 0 auto;
    }
}

.welcome-img {
    position: relative;


    &__radius {
        position: relative;
        z-index: 10;
        width: 100%;
        filter: drop-shadow($box-shadow-active);
    }
}