@use '../utils/variables'as *;

.btn {
    border: none;
    padding: 1.6rem 3rem;
    border-radius: 100px;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: $box-shadow;
}

.btn-primary {
    background-color: $primary-color;
    color: $tertiary-color;
}