@use '../utils/mixins'as *;
@use '../utils/variables'as *;

*,
::after,
::before {
    box-sizing: border-box;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-shrink: 1;
    flex-basis: 0;
    flex-grow: 1;
}

.col-12 {
    width: 100%
}

.col-11 {
    width: 91.666%
}

.col-10 {
    width: 83.333%
}

.col-9 {
    width: 75%
}

.col-8 {
    width: 66.666%
}

.col-7 {
    width: 58.333%
}

.col-6 {
    width: 50%
}

.col-5 {
    width: 41.666%
}

.col-4 {
    width: 33.333%
}

.col-3 {
    width: 25%
}

.col-2 {
    width: 16.666%
}

.col-1 {
    width: 8.333%
}

[class*=col] {
    padding: ($gutter / 2);
}

[class*=col].no-gutter {
    padding: 0;
}

// Matemáticas detras de los tamaños, una regla de tres
// 12 = 100
// 11 = ?
// ------------------
// (11 * 100) / 12 = 91.666%



/**
* EXTRA SMALL (XS)
*/
@include gridGenerator($breakpoint: 'xs', $offset: true);

/**
* SMALL (SM), MEDIUM (MD), LARGE (LG)
*/
@include sm {
    @include gridGenerator($breakpoint: 'sm', $offset: true);
}

@include md {
    @include gridGenerator($breakpoint: 'md', $offset: true);
}

@include lg {
    @include gridGenerator($breakpoint: 'lg', $offset: true);
}