@use '../utils/mixins'as *;
@use '../utils/variables'as *;

.header {
    background-color: $secondary-color;
    margin-top: -8rem;
    padding-top: 4rem;

    @include md {
        padding-top: 8rem;
    }

    @include sm {
        margin-top: 0;
        padding-top: 0;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content-img {
        @include sm {
            display: none;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

}