@use '../utils/mixins'as *;
@use '../utils/variables'as *;

.header {
    background-color: var(--secondary-color);
    margin-top: -8rem;
    padding-top: 4rem;

    @include md {
        padding-top: 8rem;
    }

    @include sm {
        margin-top: 0;
        padding-top: 0;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/portada-medica.svg);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__content-img {
        @include sm {
            display: none;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    .btn {
        @include sm {

            background-color: var(--secondary-color);
        }
    }

}