@use '../utils/variables'as *;

.info {
    color: $white-color;
    background-color: $tertiary-color;

    & .icon {
        fill: $primary-color;
        cursor: pointer;

        &:hover {
            animation: socialHeader .5s;
            animation-fill-mode: forwards;
        }
    }

    &__box-phone {
        display: flex;
        align-items: center;
    }

    &__phone {
        font-size: $default-font-size;
    }

    & .icon:not(:last-child) {
        margin-right: 1rem;
    }

    &__icon-box {
        display: flex;
        justify-content: flex-end;
    }
}