@use '../utils/mixins'as *;
@use '../utils/variables'as *;

.navigation {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s all;

    @include md {
        background: var(--secondary-color);

    }

    @include sm {
        background: var(--primary-color);
        border-bottom: 1px solid var(--tertiary-color);
    }

    &__box {
        @include md {
            justify-content: space-between;

        }
    }

    &__box-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include sm {
            justify-content: space-between;
            align-items: center;
        }
    }

    &__padding {
        @include sm {
            padding: 0;
        }
    }

    &__nav {
        flex: 0 0 100%;
        transition: .3s all;

        @include sm {
            // padding-bottom: 3rem;
            padding: 0;
            height: 0px;
            overflow: hidden;
            display: none;

        }
    }

    &__list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        font-size: 1.8rem;

        @include sm {
            flex-direction: column;
            padding: 1.5rem;
        }
    }

    &__item:not(:last-child) {
        margin-right: 6rem;
    }

    &__item {
        @include sm {
            padding-top: 1rem;
        }
    }


    &__link {
        text-decoration: none;
        color: var(--tertiary-color);
        font-weight: 600;
        text-transform: capitalize;
    }

    & .logo {
        @include sm{

            width: 12rem;
            height: auto;
        }
        @include sm{

            & img {
                width: 100%;
            }
        }
    }
}