@use '../utils/variables'as *;

.navigation {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s all;
    padding-top: 2rem;

    &__box-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__nav {
        flex: 0 0 100%;
    }

    &__list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        font-size: $default-font-size;
    }

    &__item:not(:last-child) {
        margin-right: 6rem;
    }

    &__link {
        text-decoration: none;
        color: $tertiary-color;
        font-weight: 600;
        text-transform: capitalize;
    }
}